html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wholeBody {
  background-image: url(https://i.ibb.co/SPZD6fx/banner.jpg);
  background-size: cover;
  height: 100vh;
}
#frontPage_1 {
  display: flex;
  justify-content: space-around;
  /* flex-flow: row wrap; */
}
.frontPageImage {
  margin-right: 90px;
  margin-top: 60px;
  transition: scale 1s linear;
}
.frontPageImage:hover {
  scale: 1.2;
}

.details span {
  color: rgb(135, 235, 213);
}
progress {
  background-color: rgb(119, 235, 210);
  color: darkblue;
}

.name {
  color: crimson;
  margin: 10px 0px 10px 20px;
}
.name h1:hover {
  color: rgb(169, 59, 169);
}

.heading {
  position: sticky;
  top: 0;
  background-color: #efefef;
}
.heading img {
  width: 200px;
  height: 150px;
}
.head {
  display: flex;
  /* margin: 10px 20px; */
  /* width: 98%; */
  height: auto;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  padding-left: 30px;
  padding-right: 5px;
}
.head ul li {
  margin: 10px;
  list-style: none;
  display: inline-block;
}
.head ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.head ul li a:hover {
  color: red;
}
.details {
  padding: 15px;
}
span {
  color: rgb(0, 0, 92);
  font-style: italic;
}
.details p {
  line-height: 25px;
  color: rgb(241, 241, 241);
  font-size: 20px;
}
.details a {
  display: inline-block;
  text-align: center;
  width: 200px;
  background: black;
  text-decoration: none;
  margin: 10px 18px;
  font-weight: bold;
  color: wheat;
  display: inline-block;
  margin: 30px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.details a:hover {
  width: 200px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.details {
  margin-top: 10%;
  margin-left: 5%;
}

.details h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #b8b6b6;
}
.button a {
  font-size: bold;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: crimson;
  filter: drop-shadow(1px 1px 2px black);
}
.button {
  margin-bottom: 40px;
}
.button a:hover {
  background-color: black;
  color: white;
}
.aboutMe h1 h3 {
  text-align: center;
}
.aboutMe h3 span {
  color: crimson;
  filter: drop-shadow(1px 1px 2px black);
}
#skillHeading h3 span {
  color: crimson;
  filter: drop-shadow(1px 1px 2px black);
}

.aboutMe {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.fcontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}
.fprofile {
  margin-right: 20px;
  box-sizing: border-box;
  width: 20rem;
  height: 20rem;
  transition: scale 1s linear;
  filter: drop-shadow(2px 2px 1px black);
}
.fprofile:hover {
  scale: 1.2;
}
.fdescription {
  box-sizing: border-box;
  width: 42rem;
  height: 30rem;
  padding-top: 100px;
}
.fdescription ul {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
  transition-property: large;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 1s;
  list-style-type: circle;
}
.fdescription ul:hover {
  font-size: 22px;
}
.fdescription h1 p {
  font-size: 60px;
}

/* .fdescription h1:hover {
  font-size: 40px;
} */

#aboutMeSection {
  background-image: radial-gradient(whitesmoke, #383838);
  padding-top: 40px;
  padding-bottom: 80px;
}
/* #aboutMeSection {
  padding: 20px 0px;
} */
/* .downloadButton a {
  font-size: 12px;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: crimson;
  color: white;
  width: 100px;
  height: auto;
} */
/* 
#services {
  background-color: rgb(108, 86, 86);
  color: white;
  background-size: cover;
}
#servicesSection {
  text-align: center;
  padding: 30px;
}
#servicesSection h3 span {
  color: crimson;
}
.servicePara {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
}

.fpartOne {
  padding: 13px;
  box-sizing: border-box;
  width: 450px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 12px;
}

/* .fpartTwo {
  padding: 25px;
  width: 500px;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
} */
/* .servicePara h1 p:hover {
  color: crimson;
} */
#mySkills {
  background-color: black;
  padding-bottom: 20px;
}
#skillHeading {
  text-align: center;
  padding: 55px;
  padding-top: 40px;
  font-size: 25px;
  color: white;
}

.skillSection {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  margin: 25px;
}
.skillOne {
  line-height: 26px;
  padding: 25px;
  box-sizing: border-box;
  width: 500px;
  height: 350px;
  border-radius: 10px;
  border: 2px solid #222;
  margin: 20px;
  background-color: #222;
  color: white;
}
.skillOne:hover {
  font-size: 17px;
  border: 2px solid #ffea00;
  background-color: #ffea00;
  color: black;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 2s;
}
.skillOne h2 {
  font-family: italic;
  text-transform: capitalize;
}
.code {
  font-weight: bold;
}
/* .skillTwo {
  padding: 44px 25px;
  width: 500px;
  height: auto;
  line-height: 30px;
  border-radius: 10px;
  border: 2px solid black;
} */

.click a {
  margin-top: 10px;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: crimson;
  color: white;
  margin-right: 10px;
  flex-flow: row wrap;
  text-decoration: none;
}
.click a:hover {
  background-color: #111;
  color: white;
}
input {
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 100px;
}
textarea {
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 63px;
}
/* .instagram a {
  margin-top: 20px;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: crimson;
  color: white;
  text-decoration: none;
} */
.call {
  transition: scale 1s linear;
}
.call:hover {
  scale: 0.6;
}
.email {
  transition: scale 1s linear;
}
.email:hover {
  scale: 0.7;
}
#contactMe {
  text-align: center;
  padding: 70px;
  font-size: 25px;
}
#contactMe h3 span {
  color: crimson;
  filter: drop-shadow(1px 1px 2px black);
}
.contactForm {
  background-image: radial-gradient(whitesmoke, rgb(102, 100, 100));
}
.contactSection {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 50px 30px 50px 30px;
  /* margin: 30px;  */
}
.contacts {
  border-radius: 10px;
}
.form {
  padding: 27px 0px 0px 0px;
  border-radius: 10px;
  line-height: 40px;
}
.form a {
  padding: 20px 30px;
  border-radius: 20px;
  font-weight: 600;
  background-color: crimson;
  color: white;
  text-decoration: none;
  transition: width 1s 0.1s linear;
}
.form a:hover {
  width: 150px;
}
.contactDetails {
  padding-left: 11px;
}
#sendMessageButton {
  margin-top: 30px;
}

.backToTop {
  text-align: center;
  padding: 15px;
  background-color: black;
  position: sticky;
  bottom: 0;
}
.backToTop a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
/* .downloadButton {
  margin-top: 30px;
} */
/* mobile  */
@media screen and (min-width: 0px) and (max-width: 480px) {
  #desktopNavbar {
    display: none;
  }
  .frontPageImage {
    padding-bottom: 500px;
  }
  #navbarMobileMenu {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    font-size: 10px;
    gap: 36px;
    list-style: none;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    /* margin-top: 60px; */
  }
  /* .contactSection {
    margin: 16px;
  } */
  #clickHere {
    display: flex;
    /* padding: 10px 20px;  */
    flex-flow: row wrap;
    padding: 15px 10px;
    text-decoration: none;
  }
  /* #services {
    margin-top: 410px;
  } */
  #skillOneMobile {
    margin-bottom: 15px;
  }

  #contactMobile {
    padding: 10px 0px;
  }
  .servicePara {
    padding: 2px;
    margin: 3px;
  }
  .skillOne {
    padding: 8px;
    margin: 5px;
  }
  .skillSection {
    padding: 3px;
    margin: 2px;
  }
  #aboutMobile {
    font-size: 14px;
    padding-bottom: 353px;
  }
  .fcontainer {
    padding: 0px 0px 0px 0px;
  }
  #aboutMeSection {
    padding: 40px 0px 0px 0px;
  }
  .fdescription {
    padding-left: 10px;
    padding-right: 10px;
    width: 15rem;
    height: 20rem;
  }
  .downloadButton a {
    font-size: 12px;
    font-weight: 600;
    padding: 15px 10px;
    width: 20px;
    height: auto;
    text-decoration: none;
  }
  .downloadButton {
    margin-top: 40px;
  }
  .skillOne {
    font-size: 12px;
  }
  .wholeBody {
    height: 100vh;
  }
  .click a {
    margin-top: 20px;
    padding: 10px 15px;
  }
  .form a {
    padding: 15px 20px;
  }
}

/* desktop  */
@media screen and (min-width: 481px) {
  #mobileNavbar {
    display: none;
  }
}
.call {
  text-decoration: none;
  color: #111;
}
.mail {
  text-decoration: none;
  color: #111;
}
