.banner {
  width: 100%;
}
/* .imgBanner {
  display: none;
} */
::root {
  --COLOR: green;
  --BGCOLOR: #475569;
  --ALT-BGCOLOR: gold;
  --BGCOLOR-DARK: #111;
}
.imgInfo h1 {
  padding: 30px 30px 20px;
  font-family: Arial;
  color: green;
  font-size: 50px;
  line-height: 44px;
}
.imgInfo p {
  padding: 0px 30px 20px;
  font-family: Arial;
  color: var(--BGCOLOR-DARK);
  font-size: 16px;
  line-height: 24px;
}
.banner h1 {
  color: var(--COLOR);
}

/* background.styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: "1.5rem nunito" sans-sarif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  background-image: radial-gradient(whitesmoke, #1f3049);
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: columns;
}
header,
nav,
/* main, */
footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
  flex-flow: column wrap;
}
header,
footer {
  position: sticky;
  background-color: rgb(59, 37, 80);
  color: whitesmoke;
}
header {
  top: 0;
}
nav {
  background-color: rgb(99, 166, 166);
  color: whitesmoke;
  padding: 0.5rem;
}
main {
  flex-grow: 5;
  padding: 10px 0px;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  gap: min(4vw 15px);
}
#highlight {
  background-color: rgb(184, 66, 66);
}
.square {
  background-color: papayawhip;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  border-radius: 15px;
  display: grid;
  place-content: center;
  font-size: 40px;
  margin: 10px;
  box-shadow: #111;
}
#laptop {
  margin: 10px;
  /* margin-bottom: 10px; */
}
footer {
  bottom: 0;
}

@media screen and (mid-width: 576px) {
  body {
    background-color: var(--COLOR);
    background-image: radial-gradient (whitesmoke, var(--COLOR));
  }
}
nav {
  display: none;
}

@media screen and (mid-width: 768px) {
  body {
    background-color: var(--ALT-BGCOLOR);
    background-image: radial-gradient (whitesmoke, var(--ALT-BGCOLOR));
  }
}
nav {
  display: none;
}
