* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  flex-flow: row wrap;
}
#headTop {
  position: sticky;
  top: 0;
}
.logo_1 {
  display: flex;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  flex-flow: row wrap;
}
.logo_1 img {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 3rem;
  padding: 16px;
  margin-right: 30px;
  flex-flow: row wrap;
  text-align: center;
  font-weight: bold;
  list-style: none;
  letter-spacing: -1px;
}
.unlock {
  background-color: rgb(90, 90, 226);
  color: white;
  border: 80px;
  border-radius: 19px;
  padding: 10px 16px;
  margin: 0px 24px 0px 0px;
}
#frontPage_1 li a {
  text-decoration: none;
  color: #1d1d44;
}
#skincare {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  /* letter-spacing: 1px; */
  font-weight: bold;
  color: #332e54;
  background: #ff824f;
  padding: 0.75rem 1rem;
  position: sticky;
}
.skincare_1 {
  margin-right: 15px;
  margin-left: 450px;
}
.frontPage_2 {
  background-image: url("https://curology.com/static/e0a9d4e93a3dbec0c4c437a9b0493849/c44c5/squeezeDesktopHero.png");
  background-size: cover;
  background-color: #1d1d44;
  /* background-image: cover; */
  /* max-height: 1200px; */
  height: 100vh;
  scroll-behavior: smooth;
}
#frontPage_4 {
  /* margin-top: 16%; */
  margin-left: 4%;
}
/* .frontPage_3 p {
  box-sizing: border-box;
  background-color: #ff824f;
  color: #1d1d44;
  line-height: 20px;
} */
.para_1 {
  background-color: #ff824f;
  color: #1d1d44;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.75rem 0 0.75rem 0;
  font-size: 1rem;
  width: 194px;
  font-weight: 700;
}
.para_2 {
  background-color: #ff824f;
  color: #1d1d44;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.75rem 0 0.75rem 0;
  font-size: 1rem;
  width: 120px;
  font-weight: 700;
}
.para_3 {
  background-color: #ff824f;
  color: #1d1d44;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.75rem 0 0.75rem 0;
  font-size: 1rem;
  width: 182px;
  font-weight: 700;
}
.frontPage_2 h1 {
  font-size: 5.5em;
  font-weight: bold;
  max-width: 800px;
  margin-bottom: 0.5rem;
  color: #332e54;
  letter-spacing: -6px;
}
.mainheading_2 {
  font-size: 27px;
  font-weight: bold;
  max-width: 800px;
  margin-bottom: 1rem;
  color: #1d1d44;
  line-height: 132%;
  letter-spacing: 0.02px;
  margin: 0px 0px 16px;
}
.secondPage_1 {
  font-size: 27px;
  font-weight: bold;
  max-width: 800px;
  color: white;
  margin-top: 5rem;
}
.secondPage_button {
  font-size: bold;
  width: 157px;
  padding: 20px 50px;
  border-radius: 25px;
  background-color: rgb(81, 95, 230);
  margin-top: 50px;
  text-align: center;
}
.secondPage_button a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
#startQuiz {
  display: flex;
  justify-content: space-around;
  color: white;
  margin-top: 4rem;
}
.secondapge_section {
  background-color: #1d1d44;
  padding: 2.5rem 3rem;
}
figcaption {
  font-size: 20px;
  font-weight: 700;
  justify-content: space-around;
  margin-top: 1.5rem;
}
/* .pngImg {
  flex-direction: column;
} */
.thirdPage_1 {
  font-size: 27px;
  font-weight: bold;
  max-width: 800px;
  color: rgb(15, 6, 71);
  margin-top: 5rem;
  margin-left: 70px;
}
.thirdPage_2 {
  font-size: 27px;
  font-weight: bold;
  max-width: 800px;
  color: rgba(28, 23, 90, 0.911);
  margin-top: 5rem;
  margin-left: 70px;
}
.thirdPage_3 {
  letter-spacing: -1px;
  max-width: 800px;
  color: rgba(28, 23, 90, 0.911);
  margin-left: 70px;
}
/* .thirdPage_4 {
  margin-left: 70px;
} */
.thirdPage_button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
}
.thirdPage_button {
  font-size: bold;
  width: 157px;
  padding: 20px 10px;
  border-radius: 30px;
  background-color: rgb(93, 108, 238);
  /* margin-top: 50px; */
  text-align: center;
  margin-top: 5rem;
  margin-right: 50px;
}
.thirdPage_5 {
  display: flex;
  justify-content: space-between;
}
.thirdPage_6 {
  display: flex;
  justify-content: space-around;
  /* padding-left: 50px; */
  margin-top: 50px;
  /* margin-right: 70px; */
}
/* .thirdPage_7 {
  margin-right: 70px;
} */
.main {
  background-color: #faf9f6;
}
#productDetails {
  line-height: 20px;
}
#Customformula {
  font-weight: bold;
  color: #1d1d44;
}
#Acneclearing {
  font-size: 10px;
}
#price {
  font-weight: bold;
  color: #1d1d44;
}
.fourthPage_1 {
  font-size: 27px;
  font-weight: bold;
  max-width: 800px;
  color: rgb(15, 6, 71);
  margin-top: 5rem;
  margin-left: 70px;
}
